@font-face {
  font-family: "Moonhub-Regular";
  src: url("../fonts/Moonhub-Regular.woff2") format("woff2"), url("../fonts/Moonhub-Regular.woff") format("woff"), url("../fonts/Moonhub-Regular.svg#Moonhub-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}